html {
    position: relative;
    min-height: 100%;
}
body {
    overflow: hidden;
}
.container-fluid {
    position: absolute;
    right: 0;
    left: 0;
    overflow-y: auto;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

// large, extra large
@media (max-width: 75em){
    body {
        padding-top: 40px;
    }
    .container-fluid {
        top: 60px;
        bottom: 10px;
        margin-bottom: 40px;
    }
    .footer {
        height: 40px;
    }
}

