{% extends "_bootstrap.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="container-fluid">
    <h1>Register</h1>
    <form action="/register" method="POST" name="register_user_form">
      <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="1459265875##409065741472051a0160fc23f0388041162c4e9d"><input id="next" name="next" type="hidden" value="/"></div>

      <p>
        <label for="email">Email Address</label> <input id="email" name="email" type="text" value="">

      </p>


      <p>
        <label for="password">Password</label> <input id="password" name="password" type="password" value="">

      </p>



      <p>
        <label for="password_confirm">Retype Password</label> <input id="password_confirm" name="password_confirm" type="password" value="">

      </p>



      <p><input id="submit" name="submit" type="submit" value="Register"></p>

    </form>

    <h2>Menu</h2>
    <ul>
      <li><a href="/login?next=/">Login</a></li>

      <li><a href="/register?next=/">Register</a><br/></li>



    </ul>
</div>
{% endblock %}}