<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Chat</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/sticky-footer.css">
</head>
<body>
    <header class="navbar navbar-full navbar-dark navbar-fixed-top bg-primary">
        <!-- TODO responsive?! -->
        <h1 class="navbar-brand">Chatbullet</h1>
        <ul class="nav navbar-nav">
            <li class="nav-item active system">
                <a class="nav-link" href="javascript:switch_chatroom('system')">System</a>
            </li>
        </ul>
        <form id="join" class="form-inline pull-xs-right">
            <input class="form-control" type="text" id="room" placeholder="RoomName">
            <button class="btn btn-success" type="submit">Join</button>
        </form>
    </header>
    <div class="container-fluid chatrooms">
        <div id="system"></div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <form id="send" class="form-inline">
                        <div class="col-md-11">
                            <input class="form-control" type="text" id="msg" placeholder="message" style="width:100%" />
                        </div>
                        <input class="btn btn-primary" type="submit" value="Send" />
                    </form>
                </div>
                <div class="col-md-1">
                    <form id="leave">
                        <input class="btn btn-danger-outline" type="submit" value="Leave" />
                    </form>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.socket.io/socket.io-1.4.5.js"></script>

    <!-- templates -->
    <script type="text/html" id="system_tmpl">
        <div>
            <message />
            <br>
        </div>
    </script>
    <script type="text/html" id="new_received_msg_tmpl">
        <div>
            <user />
            <a class="message">
                <message />
            </a>
            <button type="button" class="btn btn-warning btn-sm mod">Mod</button>
            <button type="button" class="btn btn-danger btn-sm del">Del</button>
            <br>
        </div>
    </script>
    <script type="text/html" id="new_system_msg_at_chatroom_tmpl">
        <div>
            <message />
        </div>
    </script>
    <script type="text/html" id="new_chatroom_header_tmpl">
        <li class="nav-item">
            <a class="nav-link" href="#"><room_name /></a>
        </li>
    </script>
    <script type="text/html" id="new_chatroom_tmpl">
        <div style="display: none;">
        </div>
    </script>

    <script type="text/javascript" charset="utf-8">
        function system_tmpl(message){
            tmpl = $($("#system_tmpl").html());
            $("message", tmpl).replaceWith(message.message);
            $('div#system').append(tmpl);
        }

        function new_received_msg_tmpl(message){
            tmpl = $($("#new_received_msg_tmpl").html());
            // fill the status
            $("user", tmpl).replaceWith(message.user);
            $("message", tmpl).replaceWith(message.data);
            $(tmpl).attr('id', message.id);
            // add link
            $("a", tmpl).attr('href', message.id);
            // if this msg is from myself, enable button.
            if (myself === message.user){
                $("button.mod", tmpl).on('click', function(){
                    socket.emit(
                            'modify_msg_req',
                            {
                                id: message.id,
                                data: prompt(message.data, message.data)
                            }
                    )
                });
                $("button.del", tmpl).on('click', function(){
                    socket.emit(
                            'delete_msg_req',
                            {
                                id: message.id
                            }
                    )
                });
            }else{
                $("button", tmpl).remove();
            }
            // add message to chatroom
            $('div#' + message.room_id).append(tmpl);
        }

        function new_system_msg_at_chatroom_tmpl(message){
            tmpl = $($("#new_system_msg_at_chatroom_tmpl").html());
            $("message", tmpl).replaceWith(message.message);
            $('div#' + message.room_id).append(tmpl);
        }

        function new_chatroom_header_tmpl(message){
            tmpl = $($("#new_chatroom_header_tmpl").html());
            $(tmpl).addClass(message.room_id);
            $("room_name", tmpl).replaceWith(message.room_name);
            $("a", tmpl).attr("href", "javascript:switch_chatroom('" + message.room_id + "')");
            $(".navbar-nav").append(tmpl);
        }

        function new_chatroom_tmpl(message){
            tmpl = $($("#new_chatroom_tmpl").html());
            $(tmpl).attr('id', message.room_id);
            $(".chatrooms").append(tmpl);
        }

        var current_room_id = "system";
        function switch_chatroom(next_room_id){
            // hide and seek the rooms
            $("div#" + current_room_id).hide();
            $("div#" + next_room_id).show();

            // highlight header
            $("li." + current_room_id).removeClass('active');
            $("li." + next_room_id).addClass('active');

            current_room_id = next_room_id;

            return false;
        }

        var myself = "{{ user }}";
        var socket;
        $(document).ready(function(){
            socket = io.connect('/ws');

            socket.on('connect', function(){
                $('div#system').append('connected!<br>');
                {% if message_id %}
                    socket.emit(
                            'lookback_messages',
                            {
                                from_msg_id: '{{ message_id }}'
                            }
                    );
                {% endif %}
            });

            socket.on('disconnect', function(){
                history.back();
            });

            socket.on('system', function(message){
                if (message.type === "join"){
                    // Add Header
                    new_chatroom_header_tmpl(message);

                    // Add Chatroom
                    new_chatroom_tmpl(message);

                    // Switch Chatroom
                    switch_chatroom(message.room_id);
                }else if (message.type === "leave"){
                    // Remove Header
                    $("li." + message.room_id).remove();

                    // Switch Chatroom
                    if (current_room_id === message.room_id){
                        switch_chatroom("system");
                    }

                    // Remove Chatroom
                    $("div#" + message.room_id).remove();
                }else if (message.type === "joined"){
                    console.log(message);
                    new_system_msg_at_chatroom_tmpl(message);
                    return false;
                }else if (message.type === "leaved"){
                    console.log(message);
                    new_system_msg_at_chatroom_tmpl(message);
                    return false;
                }
                system_tmpl(message);
            });

            socket.on('received_msg', function(message){
                new_received_msg_tmpl(message);
                $('.chatrooms').scrollTop($('.chatrooms')[0].scrollHeight);
                console.log(message);
            });

            socket.on('modified_msg', function(message){
                $('div#' + message.id + ' .message').text(message.data);
            });

            socket.on('deleted_msg', function(message){
                $('div#' + message.id).remove();
            });

            $('#send').submit(function (){
                socket.emit(
                        'send_message',
                        {
                            data: $('#send #msg').val(),
                            room_id: current_room_id
                        }
                );
                $('#send #msg').val('');
                return false;
            });

            $('#join').submit(function (){
                socket.emit(
                        'join_req',
                        {
                            room: $('#join #room').val()
                        }
                );
                return false;
            });

            $('#leave').submit(function (){
                socket.emit(
                        'leave_req',
                        {
                            room_id: current_room_id
                        }
                );
                return false;
            });
        });
    </script>
</body>
</html>