<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Chat</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/sticky-footer.css">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
    <header class="navbar navbar-full navbar-dark navbar-fixed-top bg-primary">
        <!-- TODO responsive -->
        <h1 class="navbar-brand">Chatbullet</h1>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">#Room1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Room2</a>
            </li>
        </ul>
    </header>
    <div class="container">
        <div>

        </div>
        <div id="log"></div>
    </div>
    <footer class="footer">
        <div class="container">
            <form id="send">
                <input type="text" id="room" placeholder="#room" />
                <input type="text" id="msg" placeholder="message" />
                <input type="submit" value="Send" />
            </form>
            <form id="join">
                <input type="text" id="room" placeholder="#room" />
                <input type="submit" value="Join" />
            </form>
            <form id="leave">
                <input type="text" id="room" placeholder="#room" />
                <input type="submit" value="Leave" />
            </form>
        </div>
    </footer>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var socket = io.connect('/ws');

            socket.on('connect', function(){
                $('#log').append('connected!<br>');
                {% if message_id %}
                    socket.emit(
                            'lookback_messages',
                            {
                                from_msg_id: '{{ message_id }}'
                            }
                    );
                {% endif %}
            });

            socket.on('disconnect', function(){
                history.back();
            });

            socket.on('system', function(message){
                $('#log').append(message.message + '<br>');
            });

            socket.on('talked', function(message){
                $('#log').append(message.data + '<br>');
                console.log(message);
            });

            $('#send').submit(function (){
                socket.emit(
                        'send_message',
                        {
                            data: $('#send #msg').val(),
                            room: $('#send #room').val()
                        }
                );
                return false;
            });

            $('#join').submit(function (){
                socket.emit(
                        'join_req',
                        {
                            room: $('#join #room').val()
                        }
                );
                return false;
            });

            $('#leave').submit(function (){
                socket.emit(
                        'leave_req',
                        {
                            room: $('#leave #room').val()
                        }
                );
                return false;
            });
        });
    </script>
</body>
</html>